@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
  
}
.navbar{
 
    color:#93B1A6;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-left:5em ;
    padding-right:5em ;
    background-color:#040D12;
    border-bottom-style:solid ;
    border-bottom-width:2px;
    border-color:#93B1A6;
   

}

.navcontainer{
  
    display:flex;
    justify-content:flex-end;
    /* margin-right:2em; */
    width:100%;
   
}
.anav{
   
    width:15%;
    font-size:1.2em;
    font-weight:600;
    cursor: pointer;
    text-decoration: none;
    color:#93B1A6;
    display: flex;
    justify-content: space-around;
}
.anav:hover{
color:#b6c0bc;
}
.anav-active{
   
    width:15%;
    font-size:1.2em;
    font-weight:600;
    cursor: pointer;
    text-decoration:underline;
    text-decoration-thickness:3px;
    text-underline-offset:5px;
    color:#93B1A6;
    display: flex;
    justify-content: space-around;
   
}
.anav-active:hover{
color:#b6c0bc;
}
.logos{
    display: flex;
    justify-content: space-between;
    width:100%;
}
.logo2{
    font-family:monospace;
    font-style:oblique;
    font-size:2em;
    font-weight:bolder;
   
}


.form{
    color: white;
     background-image:url("Resources/image1.jpg");  
    /*no other photo path is working currently */
    background-repeat: no-repeat;
    background-size: cover;
}