@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
  
}
.navbar{
 
    color:#93B1A6;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-left:5em ;
    padding-right:5em ;
    background-color:#040D12;
    border-bottom-style:solid ;
    border-bottom-width:2px;
    border-color:#93B1A6;
    
   

}

.navcontainer{
  
    display:flex;
    justify-content:flex-end;
    width:100%;
   
}
.anav{
   
    width:25%;
    font-size:1.2em;
    font-weight:600;
    cursor: pointer;
    text-decoration: none;
    color:#93B1A6;
    display: flex;
    justify-content: space-around;
}
.anav:hover{
color:#b6c0bc;
}
.anav-active{
   
    width:25%;
    font-size:1.2em;
    font-weight:600;
    cursor: pointer;
    text-decoration:underline;
    text-decoration-thickness:3px;
    text-underline-offset:5px;
    color:#93B1A6;
    display: flex;
    justify-content: space-around;
   
}
.anav-active:hover{
color:#b6c0bc;
}
.logos{
    display: flex;
    justify-content: space-between;
    width:100%;
}
.logo2{
    font-family:monospace;
    font-style:oblique;
    font-size:2em;
    font-weight:bolder;
   
}
.filternav{
    display: flex;
    justify-content:space-around;
    
}
.filtercontainer{
     display:none;
    justify-content: center;
    border-style:solid;
    border-color:#1b3a2f;
    color:#1b3a2f;
    background-color: #040D12;
    border-width:3px;
    border-radius:1em;
    width:40%;
    width:30%;
    margin-top:5em;
    margin-left:2em;
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom:0.5em;
    height:30vh;
    position:fixed;
    z-index:4;
  
   
}
.readicons{
display:flex;
justify-content: center;
width:30%;
position: absolute;
padding-top:1.2em;


}
#filtericon{
    padding-right:2em ;
    color: #1b3a2f;
    font-size: 1.5em;
}
.searchbar{
    width:25em;
    border-radius:2em;
    border-color:#1b3a2f;
    border-width:3px;
    outline:none;
   
}
::placeholder {
    color:black;
    font-size:1.1em;
    text-align:center;
}
::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.filtertitle{
    font-size:0.8em;
    font-weight:800;   
    color: #fff;;
    cursor: pointer;
    text-decoration-thickness:3px;
    
}
input{
    padding-left:1em;
}
#closefilter{
display:flex;
justify-content:right;
margin-right:0.4em;
margin-top:0.4em;
color: #fff;
}
#datebody>input{
   width:80%
}
#datebody{
    display:flex;
    justify-content:center;
    padding-bottom:2em;
 
}
#letterbody{
    display:none;
}
.applybtn{
    margin-bottom:auto;
    margin-right:auto;
    margin-top: auto;
    margin-left:auto;
    padding:0.5em;
    color:white;
    background-color: #1b3a2f;
    width:75%;
    font-size:0.8em;
    display: flex;
    justify-content: center;
    border-radius:2em;
    cursor: pointer;
 
}


.filterby{
    color:#fff;
    display:flex;
    justify-content:left;
    padding-left:1em;
    padding-bottom:0;
    margin-bottom: 0;

}
.filterheader{
    display:flex;
    justify-content:space-between;
}
.letterbodycontainer{
    display:flex;
    justify-content:space-around;
    width:100%;
}
.letterchoice{
    border-color: #1b3a2f;
    color: #fff;
    border-width:2px;
    border-style:solid;
    padding-top:0.5em;
    padding-bottom:0.5em;
    padding-left:1.5em;
    padding-right:1.5em;;
    border-radius:1em;
    margin-bottom:2.5em;
    font-size:0.8em;
    cursor:pointer;
}
.date{
    margin-bottom:1.25em;
}
input[type="date"]{
    border-color:#1b3a2f;
    border-radius:0.5em;
}
.filtercard{
    display: flex;
    justify-content: center;
}
.menubaricon{
    display:none;
}
.menubarcontainer{
    display: none;
}
.line{
    background-color: #000;
    height:3px;
   
    margin-left:1em;
    margin-right:2em;
 
}
.letter{
    display: flex;
    justify-content: center;
    width:10%;
    padding-bottom:0.2em;
    font-size:2em;
    font-weight:600;
    color:#000;
}
.bookcard{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 2em;
   
}
.bookimg{
    width: 22em;
    height: 35em;
    
}

#Aimg1,#ZAimg1{
    background-image: url('/Resources/book1.jpeg');
    background-size: cover;
    margin-bottom:4em;
     
}

#Aimg2,#ZAimg2{
    background-image: url('/Resources/book2.jpeg');
    background-size: cover;
    margin-bottom:4em;
}
#Aimg3,#ZAimg3{
    background-image: url('/Resources/book3.jpeg');
    background-size: cover;
    margin-bottom:4em;
}
#Aimg4,#ZAimg4{
    background-image: url('/Resources/book2.jpeg');
    background-size: cover;
    margin-bottom:4em;
}
#Bimg1,#ZBimg1{
    background-image: url('/Resources/book1.jpeg');
    background-size: cover;
    margin-bottom:4em;
     
}

#Bimg2,#ZBimg2{
    background-image: url('/Resources/book2.jpeg');
    background-size: cover;
    margin-bottom:4em;
}
#Bimg3,#ZBimg3{
    background-image: url('/Resources/book3.jpeg');
    background-size: cover;
    margin-bottom:4em;
}
#Bimg4,#ZBimg4{
    background-image: url('/Resources/book2.jpeg');
    background-size: cover;
    margin-bottom:4em;
}
.content{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
   align-items: center;
    opacity: 0;
    /* background-image: linear-gradient(to bottom,
    #eee 20%,
    #27ae60 40%,
    #151f19 50%); if this is done -> change opacity*/
    transition: all 0.5s linear;
    font-size: 2em;
    color: #fff;
    cursor:pointer;
}
.content:hover{
    opacity: 100%;
    font-weight:600;
    background-color: rgba(0, 0, 0, .9);
  
}

.content:hover{
    opacity: 90%;
}

.bookcontainer{
    margin-top:5em;
}
.comingsoon{
    display: flex;
    justify-content:center;
}
#ZAbooks{
    display:none;
}
@media (max-width:992px){
    .menubarcontainer{
        display:none;
        justify-content: space-around;
        flex-direction: column;
        align-items: flex-start;
        background-color:#040D12;
        height: 270px;
        width: 100%;
      
    
    }
 
    .homeM{
       padding-top: 60px;
        
    }
    .logos{
        font-size:1em;
    }
    .contactM{
        padding-bottom: 60px;
    }
    div.menubarcontainer > a{
         text-decoration:none ;
         color:#93B1A6;
         font-size: 1.7em;
         padding-left: 20px;
         
    
    }
    #M-active{
        text-decoration: underline;
        text-decoration-thickness: 4px;
        }
    
    #M{
        text-decoration: none;
    }
    .navcontainer{
        display:none;
    }
   .menubaricon>i{
    font-size:2em;
    display: flex;
    align-items: center;
   }
   .menubaricon{
    display:flex;
}

   .logo2{
    display: flex;
    justify-content:right;
 
   
   }

}
@media(min-width:991px){
    .filtercontainer{
     height:35vh;
    padding-bottom:0.7em;
    }
}
@media(min-width:771px){ 
    .filtercontainer{
       height:15em;
       width:35em;
      padding-bottom:0.7em;
  
  
    }
      }
@media(min-width:1023px) and (max-width:1024px){
    .filtercontainer{
        height:45vh;
        padding-bottom:1em;
    }
}
@media (min-width:993px) and (max-width:1093px) {
    .navbar{

        padding-left:2em ;
        padding-right:2em ;
    
    }

}

