@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
  
}
.navbar{
 
    color:#93B1A6;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-left:5em ;
    padding-right:5em ;
    background-color:#040D12;
    border-bottom-style:solid ;
    border-bottom-width:2px;
    border-color:#93B1A6;
   

}

.navcontainer{
  
    display:flex;
    justify-content:flex-end;
    width:100%;
   
}
.anav{
   
    width:15%;
    font-size:1.2em;
    font-weight:600;
    cursor: pointer;
    text-decoration: none;
    color:#93B1A6;
    display: flex;
    justify-content: space-around;
}
.anav:hover{
color:#b6c0bc;
}
.anav-active{
   
    width:15%;
    font-size:1.2em;
    font-weight:600;
    cursor: pointer;
    text-decoration:underline;
    text-decoration-thickness:3px;
    text-underline-offset:5px;
    color:#93B1A6;
    display: flex;
    justify-content: space-around;
   
}
.anav-active:hover{
color:#b6c0bc;
}
.logos{
    display: flex;
    justify-content: space-between;
    width:100%;
}
.logo2{
    font-family:monospace;
    font-style:oblique;
    font-size:2em;
    font-weight:bolder;
   
}
.filternav{
    display: flex;
    justify-content:space-around;
    
}
.filtercontainer{
    border-style:solid;
    border-color:#1b3a2f;
    color:#1b3a2f;
    border-width:3px;
    border-radius:1em;
    width:30%;
    margin-top:2em;
    margin-left:2em;
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: 0.2em;
    display:none;
}
.readicons{
display:flex;
justify-content: center;
width:30%;
padding-top:1.2em;

}
#filtericon{
    padding-right:2em ;
    color: #1b3a2f;
    font-size: 1.5em;
}
.searchbar{
    width:25em;
    border-radius:2em;
    border-color:#1b3a2f;
    border-width:3px;
    outline:none;
   
}
::placeholder {
    color:black;
    font-size:1.1em;
    text-align:center;
}
::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.filtertitle{
    font-size:0.8em;
    font-weight:800;   
    color:#1b3a2f;
    cursor: pointer;
   
    text-decoration-thickness:2px;
    text-underline-offset:2px;
}
input{
    padding-left:1em;
}
#closefilter{
display:flex;
justify-content:right;
margin-right:0.4em;
margin-top:0.4em;
}
#datebody>input{
   width:80%
}
#datebody{
    display:flex;
    justify-content:center;
    padding-bottom:2em;
 
}
#letterbody{
    display:none;
}
#genrebody{
    display:none;
   
=======
>>>>>>> 1e5d6ed9053d0d62c5ca43577c3a8847a21b0276
}